    {% if page.layout != "home" %}
        </div>
    {% endif %}
</div>
<!-- contact area END -->
    </div>
<footer class="bg-primary text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5 text-center text-sm-left">
                {% include shared/footer-contact.html %}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5 text-center text-sm-left">
                {% include shared/footer-navigation.html %}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5 text-center text-sm-left">
                {% include shared/footer-mailing-list.html %}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5 text-center text-sm-left text-lg-right">
                {% include shared/footer-social-media-accounts.html %}
            </div>
        </div>
    </div>
    <div class="bg-danger py-5">
        <div class="container text-center text-white">
            {% include shared/footer-sign-off.html %}
        </div>
    </div>
</footer>
        <!-- Footer -->
        <footer class="site-footer">
        <div class="footer-top"  style="background-image:url(images/background/bg3.png); background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-5 col-xl-2 col-lg-2 col-sm-6 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="footer-title text-white">Company</h5>
                            {% include shared/footer-contact.html %}
                        </div>
                    </div>
                    <div class="col-md-3 col-7 col-xl-2 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_services border-0">
                            <h5 class="footer-title text-white">Useful Link</h5>
                            {% include shared/footer-navigation.html %}
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4 col-lg-3 col-sm-6 footer-col-4">
                        <div class="widget widget_getintuch">
                            <h5 class="footer-title text-white">Contact us</h5>
                            <ul>
                                <li><i class="ti-location-pin"></i><strong>address</strong>{{ site.data.contact_information.address }}</li>
                                <li><i class="ti-mobile"></i><strong>phone</strong>  {% if site.data.contact_information.phone != '' and
                                    site.data.contact_information.phone != nil%}  <a href="tel:{{ site.data.contact_information.phone }}" class="text-white"
                                    >{{ site.data.contact_information.phone }}</a
                                  >{% endif %} </li>
                                <li><i class="ti-email"></i><strong>email</strong>info@example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-lg-4 col-sm-6 footer-col-4 ">
                        <div class="widget">
                            <h5 class="footer-title text-white">Subscribe To Our Newsletter</h5>
                            <p class="text-capitalize m-b20">Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the..</p>
                            <div class="subscribe-form m-b20">
                                {% include shared/footer-mailing-list.html %}
                            </div>
                            {% include shared/footer-social-media-accounts.html %}
                            <!-- <ul class="list-inline m-a0">
                                <li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-left "> {% include shared/footer-sign-off.html %} </div>
                    <!-- <div class="col-md-6 col-sm-6 text-right "> 
                        <div class="widget-link "> 
                            <ul>
                                <li><a href="about-2.html"> About</a></li> 
                                <li><a href="help-desk.html"> Help Desk</a></li> 
                                <li><a href="privacy-policy.html"> Privacy Policy</a></li> 
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
    <button class="scroltop style1 white icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
    {% if page.layout == "home" %}
        <script src="{{ '/assets/js/vendor/jquery.flexslider-min.js' | relative_url }}"></script>
        <script type="text/javascript">
            $('.flexslider').flexslider({
                animation: "slide",
                animationLoop: true,
                directionNav: false,
                itemWidth: 210,
                itemMargin: 5,
                minItems: 2,
                maxItems: 5
            });
        </script>     
    {% endif %}
<!-- JAVASCRIPT FILES ========================================= -->
<!-- JAVASCRIPT FILES ========================================= -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script><!-- JQUERY.MIN JS -->
<script src="{{ '/assets/plugins/ui-tabs/ui-tabs-script.js' | relative_url }}"></script><!-- UI Tabs -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script><!-- Am charts -->
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script><!-- Am charts -->
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script><!-- Am charts -->
<script src="{{ '/assets/plugins/oee-chart/oe-chart.js' | relative_url }}"></script><!-- Am charts -->
<script src="{{ '/assets/plugins/wow/wow.js' | relative_url }}"></script><!-- WOW JS -->
<script src="{{ '/assets/plugins/bootstrap/js/popper.min.js' | relative_url }}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js' | relative_url }}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{{ '/assets/plugins/bootstrap-select/bootstrap-select.min.js' | relative_url }}"></script><!-- FORM JS -->
<script src="{{ '/assets/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' | relative_url }}"></script><!-- FORM JS -->
<script src="{{ '/assets/plugins/magnific-popup/magnific-popup.js' | relative_url }}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{{ '/assets/plugins/counter/waypoints-min.js' | relative_url }}"></script><!-- WAYPOINTS JS -->
<script src="{{ '/assets/plugins/counter/counterup.min.js' | relative_url }}"></script><!-- COUNTERUP JS -->
<script src="{{ '/assets/plugins/imagesloaded/imagesloaded.js' | relative_url }}"></script><!-- IMAGESLOADED -->
<script src="{{ '/assets/plugins/masonry/masonry-3.1.4.js' | relative_url }}"></script><!-- MASONRY -->
<script src="{{ '/assets/plugins/masonry/masonry.filter.js' | relative_url }}"></script><!-- MASONRY -->
<script src="{{ '/assets/plugins/owl-carousel/owl.carousel.js' | relative_url }}"></script><!-- OWL SLIDER -->
<script src="{{ '/assets/plugins/lightgallery/js/lightgallery-all.min.js' | relative_url }}"></script><!-- Lightgallery -->
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script> CUSTOM FUCTIONS  -->
<script src="{{ '/assets/js/dz.carousel.min.js' | relative_url }}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{{ '/assets/plugins/countdown/jquery.countdown.js' | relative_url }}"></script><!-- COUNTDOWN FUCTIONS  -->
<script src="{{ '/assets/js/dz.ajax.js' | relative_url }}"></script><!-- CONTACT JS  -->
<script src="{{ '/assets/plugins/rangeslider/rangeslider.js' | relative_url }}" ></script><!-- Rangeslider -->

<script src="{{ '/assets/js/jquery.lazy.min.js' | relative_url }}"></script>
<!-- REVOLUTION JS FILES -->
<script src="{{ '/assets/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' | relative_url }}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js' | relative_url }}"></script>
<script src="{{ '/assets/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js' | relative_url }}"></script>
<script  src="{{ '/assets/js/rev.slider.js' | relative_url }}"></script>
<script>
jQuery(document).ready(function() {
    'use strict';
    dz_rev_slider_1();	
    $('.lazy').Lazy();
});	/*ready*/
</script>
<script>
$(document).ready(function() {
    $( "#custom-service-tabs" ).tabs();
    var sync1 = $("#sync1");
    var sync2 = $("#sync2");
    var slidesPerPage = 4; //globaly define number of elements per page
    var syncedSecondary = true;

        sync1.owlCarousel({
        items : 1,
        nav: true,
        autoplaySpeed: 3000,
        navSpeed: 3000,
        paginationSpeed: 3000,
        slideSpeed: 3000,
        smartSpeed: 3000,
        autoplay: 3000,
        dots: false,
        loop: true,
        responsiveRefreshRate : 200,
        navText: ['<i class="la la-angle-left"></i>', '<i class="la la-angle-right"></i>'],
        }).on('changed.owl.carousel', syncPosition);

        sync2.on('initialized.owl.carousel', function () {
            sync2.find(".owl-item").eq(0).addClass("current");
        }).owlCarousel({
        items : slidesPerPage,
        dots: false,
        nav: false,
        margin:20,
        autoplaySpeed: 3000,
        navSpeed: 3000,
        paginationSpeed: 3000,
        slideSpeed: 3000,
        smartSpeed: 3000,
        autoplay: 3000,
        slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
        responsiveRefreshRate : 100,
        responsive:{
            0:{
                items:2
            },
            480:{
                items:2
            },			
            768:{
                items:3
            },
            1024:{
                items:4
            },
            1400:{
                items:4
            }
        }
        }).on('changed.owl.carousel', syncPosition2);

    function syncPosition(el) {
    //if you set loop to false, you have to restore this next line
    //var current = el.item.index;
    
    //if you disable loop you have to comment this block
    var count = el.item.count-1;
    var current = Math.round(el.item.index - (el.item.count/2) - .5);
    
    if(current < 0) {
        current = count;
    }
    if(current > count) {
        current = 0;
    }
    
    //end block

    sync2
        .find(".owl-item")
        .removeClass("current")
        .eq(current)
        .addClass("current");
    var onscreen = sync2.find('.owl-item.active').length - 1;
    var start = sync2.find('.owl-item.active').first().index();
    var end = sync2.find('.owl-item.active').last().index();
    
    if (current > end) {
        sync2.data('owl.carousel').to(current, 100, true);
    }
    if (current < start) {
        sync2.data('owl.carousel').to(current - onscreen, 100, true);
    }
    }
    
    function syncPosition2(el) {
    if(syncedSecondary) {
        var number = el.item.index;
        sync1.data('owl.carousel').to(number, 100, true);
    }
    }
    
    sync2.on("click", ".owl-item", function(e){
        e.preventDefault();
        var number = $(this).index();
        //sync1.data('owl.carousel').to(number, 300, true);
        
        sync1.data('owl.carousel').to(number, 300, true);
        
    });

});
</script>    
</body>
</html>