<!DOCTYPE html>
<html lang="en">
  <head>
    {% include shared/header-head.html %}
  </head>
  <body id="bg">
    <div class="page-wraper">
      <div id="loading-area"></div>
        <!-- header -->
      <header class="site-header mo-left header navstyle2">
      <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>
      {% include shared/header-top.html %}
      {% include shared/header-navigation.html %}
    </header>
    {% if page.layout != "home" %}
      {% include shared/header-banner.html %}
    {% endif %}
    <div class="page-content bg-white">
    {% if page.layout != "home" %}
      <div class="layout--default container py-5">
    {% endif %}

