<!-- inner page banner -->
<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({{page.banner_bg_image}});">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1 class="text-white">{% if page.title!= '' and page.title!= nil %}{{page.title}}{% endif %}</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <ul class="list-inline">
                    <li><a href="index.html">Home</a></li>
                    {% if page.dir != nil and page.dir != "/" %}
                    <li>{{page.dir | replace: "/", "" | replace: "-", " " }}</li>
                    {% endif %}
                </ul>
            </div>
            <!-- Breadcrumb row END -->
        </div>
    </div>
</div>
<!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio Details -->
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 m-b30">
							<h2 class="text-black font-weight-600 m-b15">{% if page.oee_calculation_improvements.oee_calculation_improvements_main_heading != '' and page.oee_calculation_improvements.oee_calculation_improvements_main_heading != nil %}{{page.oee_calculation_improvements.oee_calculation_improvements_main_heading}}{% endif %}</h2>
							<p>{% if page.oee_calculation_improvements.oee_calculation_improvements_para != '' and page.oee_calculation_improvements.oee_calculation_improvements_para != nil %}{{page.oee_calculation_improvements.oee_calculation_improvements_para}}{% endif %}</p>
							<h5>{% if page.oee_calculation_improvements.oee_calculation_improvements_bold_text != '' and page.oee_calculation_improvements.oee_calculation_improvements_bold_text != nil %}{{page.oee_calculation_improvements.oee_calculation_improvements_bold_text}}{% endif %}</h5>
							<p>{% if page.oee_calculation_improvements.oee_calculation_improvements_para_2 != '' and page.oee_calculation_improvements.oee_calculation_improvements_para_2 != nil %}{{page.oee_calculation_improvements.oee_calculation_improvements_para_2}}{% endif %}</p>
							<h2 class="text-black font-weight-600 m-b15">{% if page.oee_calculation_improvements.how_traditional_oee_main_heading != '' and page.oee_calculation_improvements.how_traditional_oee_main_heading != nil %}{{page.oee_calculation_improvements.how_traditional_oee_main_heading}}{% endif %}</h2>
							<h5 style="margin-bottom: 35px;">{% if page.oee_calculation_improvements.how_traditional_oee_small_heading != '' and page.oee_calculation_improvements.how_traditional_oee_small_heading != nil %}{{page.oee_calculation_improvements.how_traditional_oee_small_heading}}{% endif %}</h5>
							<div class="row">
								<div class="col-lg-12">
                                    {% assign items = page.calculation_variables %} {% for item in items %}
									<div class="icon-bx-wraper m-b30 left">
										<div class="icon-md"> 
											<a href="javascript:void(0);" class="icon-cell text-primary">
												<i class="{% if item.variables_icon_class != '' and item.variables_icon_class != nil%}{{item.variables_icon_class}}{% endif %}"></i>
											</a> 
										</div>
										<div class="icon-content">
											<h5 class="dlab-tilte">{% if item.variables_main_heading != '' and item.variables_main_heading != nil%}{{item.variables_main_heading}}{% endif %}</h5>
											<p>{% if item.variables_para != '' and item.variables_para != nil%}{{item.variables_para}}{% endif %}</p>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-12 m-b30">
									<img alt="" src="{% if page.calculation_improvements_images.calculation_improvements_top_image != '' and page.calculation_improvements_images.calculation_improvements_top_image != nil %}{{page.calculation_improvements_images.calculation_improvements_top_image}}{% endif %}">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<img alt="" src="{% if page.calculation_improvements_images.how_traditional_first_row_image_1 != '' and page.calculation_improvements_images.how_traditional_first_row_image_1 != nil %}{{page.calculation_improvements_images.how_traditional_first_row_image_1}}{% endif %}">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 m-b30">
									<img alt="" src="{% if page.calculation_improvements_images.how_traditional_first_row_image_2 != '' and page.calculation_improvements_images.how_traditional_first_row_image_2 != nil %}{{page.calculation_improvements_images.how_traditional_first_row_image_2}}{% endif %}">
								</div>
								<div class="col-lg-12 m-b30">
									<img alt="" src="{% if page.calculation_improvements_images.how_traditional_second_row_image_1 != '' and page.calculation_improvements_images.how_traditional_second_row_image_1 != nil %}{{page.calculation_improvements_images.how_traditional_second_row_image_1}}{% endif %}">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<h5>{% if page.the_drawbacks.the_drawbacks_main_heading != '' and page.the_drawbacks.the_drawbacks_main_heading != nil %}{{page.the_drawbacks.the_drawbacks_main_heading}}{% endif %}</h5>
                            {% if page.the_drawbacks.the_drawbacks_details_para != '' and page.the_drawbacks.the_drawbacks_details_para != nil %}{{page.the_drawbacks.the_drawbacks_details_para}}{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
					<h5>{% if page.how_shop_floor_cal_oee.how_calculates_oee_main_heading != '' and page.how_shop_floor_cal_oee.how_calculates_oee_main_heading != nil %}{{page.how_shop_floor_cal_oee.how_calculates_oee_main_heading}}{% endif %}</h5>
                    {% if page.how_shop_floor_cal_oee.how_calculates_oee_details_para != '' and page.how_shop_floor_cal_oee.how_calculates_oee_details_para != nil %}{{page.how_shop_floor_cal_oee.how_calculates_oee_details_para}}{% endif %}
					<h2 class="text-black font-weight-600 m-b15">{% if page.shopfloorconnect_oee_example.shopfloorconnect_oee_example_main_heading != '' and page.shopfloorconnect_oee_example.shopfloorconnect_oee_example_main_heading != nil %}{{page.shopfloorconnect_oee_example.shopfloorconnect_oee_example_main_heading}}{% endif %}</h2>
                    <p>During an 8-hour shift with 1/2 hour for lunch and two 15-minute breaks, a machine has a maximum availability of 7 hours (420 minutes). If there were 82 minutes of unplanned downtime during the shift, then the machine would’ve actually run for 338 minutes. The availability would be calculated as follows:</p>
					<div class="row widget widget_getintuch widget_getintuch-pro-details m-lr0 custom-oee-sa">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-lr0">
							<div class="pro-details">
								<i class="ti ti-user"></i>
								<strong>Availability = 338 minutes / 420 minutes = 80%</strong>
							</div>
						</div>
					</div>
					<p>Running at full speed, the machine is capable of producing 6000 parts/hour (or 100 parts per minute). However, the three jobs that ran during this shift were not designed to run at the machine’s maximum speed. The first job (which ran for 2 hours and 18 minutes) produced 4 parts per cycle. This job’s Ideal Rate is 75 cycles per minute. The theoretical maximum number of parts that could have been produced by this job was 41,400. The machine actually made 38,665.</p>
					<p>The second job (which ran for two hours) produced a part every 6 cycles of the machine. The Ideal Rate for this job was 50 cycles per minute. The theoretical maximum number of parts that could have been produced by this job was 1000; the machine produced 950.</p>
					<p>The final job (which ran for one hour and 20 minutes) produced one part per cycle, with an ideal rate of 80 cycles per minute. The theoretical maximum number of parts that could have been produced by this job was 6400; the actual number of parts made was 5900.</p>
					<p>During the 338 minutes of running time in our example, the machine could have theoretically made a total of 48,800 parts for all jobs combined, but produced an actual total of 45,515. The performance percentage is calculated by dividing the actual number of parts by the theoretical maximum:</p>
					<div class="row widget widget_getintuch widget_getintuch-pro-details m-lr0 custom-oee-sa">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-lr0">
							<div class="pro-details">
								<i class="ti ti-user"></i>
								<strong>Performance = 45,515 actual parts / 48, 800 possible parts = 93%</strong>
							</div>
						</div>
					</div>
					<p>Out of the 45,515 parts produced, 830 had to be later scrapped. The quality percentage is the ratio of good parts to total parts, and is calculated as follows:</p>
					<div class="row widget widget_getintuch widget_getintuch-pro-details m-lr0 custom-oee-sa">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-lr0">
							<div class="pro-details">
								<i class="ti ti-user"></i>
								<strong>Quality = 44,685 Good Parts / 45,515 Total Parts = 98%</strong>
							</div>
						</div>
					</div>
					<p>The ShopFloorConnect OEE calculation for this example is:</p>
					<div class="row widget widget_getintuch widget_getintuch-pro-details m-lr0 custom-oee-sa">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-lr0">
							<div class="pro-details">
								<i class="ti ti-user"></i>
								<strong>Availability (80%) x Performance (93%) x Quality (98%) = 73%</strong>
							</div>
						</div>
					</div>
					<p>You can see that although the component measurements - 80% uptime at 93% of maximum throughput with 98% quality - indicate a super-efficient process, when taken together as OEE, the process is really only 73% effective. ShopFloorConnect software provides a more realistic OEE calculation that reveals there is still room for improvement.</p>
					<h2 class="text-black font-weight-600 m-b15">{% if page.oee_calculation_improvements_last_heading != '' and page.oee_calculation_improvements_last_heading != nil %}{{page.oee_calculation_improvements_last_heading}}{% endif %}</h2>
					<ul style="padding-left: 40px;">
                        {% assign items = page.oee_calculation_improvements_last_details %} {% for item in items %}
						<li>{% if item.oee_calculation_improvements_details_list != '' and item.oee_calculation_improvements_details_list != nil%}{{item.oee_calculation_improvements_details_list}}{% endif %}</li>
                        {% endfor %}
					</ul>
					<p>{% if page.oee_calculation_improvements_contact_info != '' and page.oee_calculation_improvements_contact_info != nil %}{{page.oee_calculation_improvements_contact_info}}{% endif %}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Details End -->
</div>
<!-- contact area END -->