<!-- inner page banner -->
<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({{page.banner_bg_image}});">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1 class="text-white">{% if page.title!= '' and page.title!= nil %}{{page.title}}{% endif %}</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <ul class="list-inline">
                    <li><a href="index.html">Home</a></li>
                    {% if page.dir != nil and page.dir != "/" %}
                    <li>{{page.dir | replace: "/", "" | replace: "-", " " }}</li>
                    {% endif %}
                </ul>
            </div>
            <!-- Breadcrumb row END -->
        </div>
    </div>
</div>
<!-- inner page banner END -->
<div class="section-full content-inner-2 bg-img-fix  wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s" style="">
    <div class="container">
        <div class=" text-gray-dark">
            <h2 class="title">{% if page.monitors_oee_heading!= '' and page.monitors_oee_heading != nil %}{{page.monitors_oee_heading}}{% endif %}</h2>
            <p>{% if page.monitors_oee_details_para != '' and page.monitors_oee_details_para != nil %}{{page.monitors_oee_details_para}}{% endif %}</p>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div id="chartdiv"></div>
            </div>
            <p>{% if page.monitors_oee_details_para_1 != '' and page.monitors_oee_details_para_1 != nil %}{{page.monitors_oee_details_para_1}}{% endif %}</p>
            <p>{% if page.monitors_oee_details_para_2 != '' and page.monitors_oee_details_para_2 != nil %}{{page.monitors_oee_details_para_2}}{% endif %}</p>
            <p>{% if page.monitors_oee_details_para_3 != '' and page.monitors_oee_details_para_3 != nil %}{{page.monitors_oee_details_para_3}}{% endif %}</p>

        </div>
    </div>
</div>
<!-- contact area -->
<div class="section-full content-inner" id="custom-service-tabs">
    <div class="container">
        <div class=" text-gray-dark text-center">
            <h2 class="title">{% if page.major_features_main_heading!= '' and page.major_features_main_heading != nil %}{{page.major_features_main_heading}}{% endif %}</h2>
            <p>{% if page.major_features_para!= '' and page.major_features_para!= nil %}{{page.major_features_para}}{% endif %}</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="widget sidebar-widget ext-sidebar-menu widget_nav_menu">
                    <ul class="menu">
                        {% assign items = page.major_features_tabs_content %} {% for item in items %}
                        <li><a href="#{% if item.tab_content_id != '' and item.tab_content_id != nil%}{{item.tab_content_id}}{% endif %}">{% if item.tab_content_title!= '' and item.tab_content_title != nil%}{{item.tab_content_title}}{% endif %}</a>  </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget">
                    <div class="download-file">
                        <h4 class="title">Get your brochures</h4>
                        <ul>
                            <li>
                                <a href="javascript:void(0);" target="_blank">
                                    <div class="text">Company Brochures</div>
                                    <i class="fa fa-download"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" target="_blank">
                                    <div class="text">Company Info</div>
                                    <i class="fa fa-download"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% assign items = page.major_features_tabs_content %} {% for item in items %}
            <div class="col-xl-9 col-lg-8 col-md-7 m-b30" id="{% if item.tab_content_id != '' and item.tab_content_id!= nil%}{{item.tab_content_id}}{% endif %}">
                <div class="row">
                    <div class="col-lg-12 col-md-12 m-b30">
                        <div class="dlab-box">
                            <div class="dlab-media"> <a href="javascript:void(0);"><img src="{% if item.tab_content_image != '' and item.tab_content_image != nil%}{{item.tab_content_image}}{% endif %}" alt=""></a> </div>
                            <div class="dlab-info m-t30 ">
                                <h4 class="dlab-title m-t0"><a href="javascript:void(0);">{% if item.tab_content_heading != '' and item.tab_content_heading != nil%}{{item.tab_content_heading}}{% endif %}</a></h4>
                                <p>{% if item.tab_content_para_details != '' and item.tab_content_para_details != nil%}{{item.tab_content_para_details}}{% endif %} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="content-block">
    <!-- About Us -->
    <div class="section-full content-inner bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="section-head text-black">
                        <h4 class="text-gray-dark font-weight-300 m-b10">{% if page.expertise_content.expertise_small_heading != '' and page.expertise_content.expertise_small_heading != nil %}{{page.expertise_content.expertise_small_heading}}{% endif %}</h4>
                        <h2 class="title">{% if page.expertise_content.expertise_main_heading != '' and page.expertise_content.expertise_main_heading != nil %}{{page.expertise_content.expertise_main_heading}}{% endif %}</h2>
                        <p>{% if page.expertise_content.expertise_details_para_1 != '' and page.expertise_content.expertise_details_para_1 != nil %}{{page.expertise_content.expertise_details_para_1}}{% endif %}</p>
                        <p>{% if page.expertise_content.expertise_details_para_2 != '' and page.expertise_content.expertise_details_para_2 != nil %}{{page.expertise_content.expertise_details_para_2}}{% endif %}</p>
                        <p>{% if page.expertise_content.expertise_details_para_3 != '' and page.expertise_content.expertise_details_para_3 != nil %}{{page.expertise_content.expertise_details_para_3}}{% endif %}</p>
                        <div class=""> <a href="javascript:void(0);"><img src="{% if page.expertise_content.expertise_image != '' and page.expertise_content.expertise_image != nil %}{{page.expertise_content.expertise_image}}{% endif %}" alt=""></a> </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sticky-top m-b30">
                        {% assign form_name = "Common Form Sidebar"%}
                        {% include snippets/form-common.html %}
                    </div>	
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services -->
    {% include home/testimonials.html %}
    <!-- Get in touch -->
    <div class="section-full overlay-black-dark bg-img-fix" style="background-image:url({{site.get_in_touch}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 content-inner chosesus-content text-white">
                    {% include home/form-footer.html %}
                </div>
                <div class="col-lg-7 col-md-12 m-b30">
                       <div class="contact-project bg-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
                        {% assign form_name = "Common Form Footer"%}
                        {% include snippets/form-common.html %}
                       </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get in touch -->
</div>