<!-- inner page banner -->
<div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url({{page.banner_bg_image}});">
    <div class="container">
        <div class="dlab-bnr-inr-entry">
            <h1 class="text-white">{% if page.title!= '' and page.title!= nil %}{{page.title}}{% endif %}</h1>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <ul class="list-inline">
                    <li><a href="index.html">Home</a></li>
                    {% if page.dir != nil and page.dir != "/" %}
                    <li>{{page.dir | replace: "/", "" | replace: "-", " " }}</li>
                    {% endif %}
                </ul>
            </div>
            <!-- Breadcrumb row END -->
        </div>
    </div>
</div>
<!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-full content-inner-2 portfolio text-uppercase bg-gray" id="portfolio">
				<div class="container">
					<div class="site-filters clearfix center m-b40">
						<ul class="filters" data-toggle="buttons">
                            {% assign items = page.success_story_section %} {% for item in items %}
							<li data-filter="{% if item.success_story_internal_category_selector != '' and item.success_story_internal_category_selector != nil%}{{item.success_story_internal_category_selector}}{% endif %}" class="btn {% if item.success_story_active_status != '' and item.success_story_active_status != nil%}{{item.success_story_active_status}}{% endif %}">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-secondry button-sm radius-xl"><span>{% if item.success_story_main_title != '' and item.success_story_main_title != nil%}{{item.success_story_main_title}}{% endif %}</span></a> 
							</li>
                            {% endfor %}
						</ul>
					</div>
					<div class="clearfix" id="lightgallery">
						<ul id="masonry" class="portfolio-ic dlab-gallery-listing gallery-grid-4 gallery row p-l0 sp10 lightgallery text-center">
							{% assign items = page.success_story_section %} {% for item in items %}
                            <li class="{% if item.success_story_internal_category_selector != '' and item.success_story_internal_category_selector != nil%}{{item.success_story_internal_category_selector}}{% endif %} card-container col-lg-4 col-md-6 col-sm-6 p-a0">
								<div class="dlab-box dlab-gallery-box">
									<div class="dlab-media dlab-img-overlay1 dlab-img-effect">
										<a href="{% if item.success_story_main_title != '' and item.success_story_main_title != nil%}{{item.success_story_main_title}}{% endif %}"> <img src="{% if item.success_story_internal_image != '' and item.success_story_internal_image != nil%}{{item.success_story_internal_image}}{% endif %}"  alt=""> </a>
										<div class="overlay-bx">
											<div class="overlay-icon"> 
												<div class="text-white">
													<a href="{% if item.success_story_internal_category != '' and item.success_story_internal_category != nil%}{{item.success_story_internal_category}}{% endif %}"><i class="fa fa-link icon-bx-xs"></i></a> 
													<span data-exthumbimage="{% if item.success_story_internal_image != '' and item.success_story_internal_image != nil%}{{item.success_story_internal_image}}{% endif %}" data-src="{% if item.success_story_internal_image != '' and item.success_story_internal_image != nil%}{{item.success_story_internal_image}}{% endif %}" class="check-km" title="Factory Managment">		
														<i class="fa fa-picture-o icon-bx-xs"></i> 
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="dez-info p-a30 bg-white">
										<p class="dez-title m-t0"><a href="{% if item.success_story_internal_url != '' and item.success_story_internal_url != nil%}{{item.success_story_internal_url}}{% endif %}">{% if item.success_story_internal_main_title != '' and item.success_story_internal_main_title != nil%}{{item.success_story_internal_main_title}}{% endif %}</a></p>
										<p><small>{% if item.success_story_internal_category != '' and item.success_story_internal_category != nil%}{{item.success_story_internal_category}}{% endif %}</small></p>
									</div>
								</div>
							</li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
        </div>
		<!-- contact area END -->