{% include shared/header.html %}
{% include blog/post-banner.html %}
<div class="container max-w900">
  <!-- blog start -->
  <div class="blog-post blog-single">
      <div class="dlab-post-meta m-b20">
          <ul>
              <li class="post-date"> <strong>{{post.date | date_to_string: "ordinal", "US" }}</strong>> </li>
              <li class="post-author"> By <a href="c">Harry</a> </li>
          </ul>
      </div>
      <div class="dlab-post-title">
          <h4 class="post-title m-t0"><a href="{{ post.url | relative_url }}">{{post.title}}</a></h4>
      </div>
      <div class="dlab-post-media dlab-img-effect zoom-slow"> 
        <a href="{{ post.url | relative_url }}"><img src="{{ page.featured_image | relative_url }}" alt=""></a> 
      </div>
    </div> 
  </div>
{% include blog/post-banner-end.html %}
{% include shared/footer.html %}
