{% if site.data.clients.clients.size > 0 %}
<div class="section-full content-inner-2 bg-gray wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
  <div class="container">		
    <div class="section-head text-black text-center">
      <h2 class="title text-capitalize">We work with our partners to provide project perfection,<br/><span class="text-primary">join with our parnership.</span></h2>
    </div>
    <div class="client-logo-carousel owl-loaded owl-theme owl-carousel owl-dots-none owl-btn-center-lr owl-btn-3">
      {% for client in site.data.clients.clients %}
      <div class="item">
        <div class="ow-client-logo">
          <div class="client-logo border">
            <a href="javascript:void(0);"><img src="{{client.logo | relative_url}}" alt="{{client.name}} Logo"></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Client logo End -->
{% endif %}
